.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.graph {
  position: relative;
  max-width: 800px;
  height: 400px;
  background: #ddd;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  max-width: 800px;
  height: 200px;
  margin: 40px auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu";
}

h2 {
  text-align: center;
  margin-left: 40px;
}

.graph_ {
  position: relative;
  max-width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
  left: 10%;
  z-index: -1;
}

.bar-text-content {
  height: 100%;
  width: 12%;
}

.text {
  height: 19.99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-lines-container {
  height: 100%;
  width: 88%;
  position: relative;
  background: #ddd;
  z-index: -25;
}

.bar {
  height: 19.99%;
  background: #e05b42;
  z-index: 25;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
}

.bar:last-child {
  border-bottom: none;
}

.markers {
  width: 88%;
  position: relative;
  margin-top: 10px;
}

.markers > span {
  position: absolute;
  transform: translateX(-6px);
  font-weight: 300;
  font-size: 14.5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
